* {
  font-family: 'Noto Sans KR', sans-serif;
}
h1 {
  letter-spacing: 1.5rem;
}
.input-content, .comments {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}